@model SistemaAFT.Models.Cotizacion
@{
    ViewData["Title"] = "Index";
}

<div class="border border-secondary rounded">
    <div class="container">
        <h3 class="text-dark mt-2">Componentes y conceptos</h3>

        <div class="border border-secondary rounded my-3" id="solicitante_personal">
            <div class="form-inline d-flex bg-dark rounded">
                <h6 class="my-3 mx-3 text-white font-weight-lighter">Componentes y conceptos de incentivos solicitados</h6>
            </div>
            <div class="container">
                <div class="form-inline d-flex mt-1">
                    <label class="my-3 mx-3 control-label">Buscar:</label>
                    <input class="form-control ml-1" />
                    <button class="ml-auto btn btn-light" data-toggle="modal" data-target="#modalApoyo"><i class="fas fa-plus mr-1"></i>Agregar</button>
                </div>
                <table class="table table-hover table-sm table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            <th class="text-center">Subconcepto de apoyo solicitado</th>
                            <th>Descripción</th>
                            <th class="text-right">Monto de apoyo</th>
                            <th>Aportación productor</th>
                            <th class="text-right">Inversión total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="font-weight-normal">Ningún dato disponible en esta tabla</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Total:</th>
                            <th class="text-right">$ 0.00</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
                <label class="mt-0"><span>0</span> registros</label>
            </div>
        </div>
    </div>
    <div class="float-right mt-4" id="botonFormUno">
        <a class="btn btn-info" asp-action="Index">Regresar</a>
        <input type="submit" value="Limpiar Pantalla" class="btn btn-success" />
        <input type="submit" value="Siguiente" class="btn btn-dark text-white" />
    </div>
</div>

@await Html.PartialAsync("_modalApoyo")
