@model GranModelo

<form id="formDocumentoRepresentantes">
    <div class="modal fade bd-example-modal-xl" data-backdrop="static" id="modalDocumentoRepresentantes" tabindex="-1" role="dialog" aria-labelledby="modalDocuRepre" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="documentoRepID" asp-for="documentoRepresentante.documentoRepresentanteID" />

                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Documento de representante</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="documentoRepresentante.Tipo_DocumentoID" class="control-label">Tipo de documento<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="documentoRepresentante.Tipo_DocumentoID" class="text-danger documentosRepresentantes ErrorInput"></span>
                                <select asp-for="documentoRepresentante.Tipo_DocumentoID" id="tipoDocumentoRep" class="form-control" asp-items="ViewBag.Tipo_DocumentoID" required>
                                    <option value="">Seleccione opción</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="documentoRepresentante.folioDocumento" class="control-label">Folio de documento<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="documentoRepresentante.folioDocumento" class="text-danger documentosRepresentantes ErrorInput"></span>
                                <input id="folioDocumentoRep" asp-for="documentoRepresentante.folioDocumento" type="text" class="form-control" placeholder="Folio de documento" required />
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="documentoRepresentante.fechaDocumento" class="control-label">Fecha de documento<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="documentoRepresentante.fechaDocumento" class="text-danger documentosRepresentantes ErrorInput"></span>
                                <input id="fechaDocumentoRep" asp-for="documentoRepresentante.fechaDocumento" type="date" class="form-control" required />
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-danger" id="btnCancelarDocumentosRepresentante" data-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button class="btn btn-primary" id="btnModalDocumentoRepresentante">Gua</button>
                </div>
            </div>
        </div>
    </div>
</form>