@model GranModelo

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form id="formEditDomicilio">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Domicilios</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="tab-pane fade show container active border border-secondary rounded" id="nav-general" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="domicilioID" asp-for="Domicilio.DomicilioID" />

                    <div class="row">
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label asp-for="Domicilio.Tipo_AmbitoID" class="control-label">Tipo Ambito<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.Tipo_AmbitoID" class="text-danger ErrorInput Modal"></span>
                                <select asp-for="Domicilio.Tipo_AmbitoID" id="domicilioTipoAmbito" class="form-control" asp-items="ViewBag.Tipo_AmbitoID" required>
                                    <option value="">Seleccione opción</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.noexterior" class="control-label">No. Exterior<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.noexterior" class="text-danger ErrorInput Modal"></span>
                                <input asp-for="Domicilio.noexterior" id="domicilioNoExterior" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label asp-for="Domicilio.estado" class="control-label">Estado<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.estado" class="text-danger ErrorInput Modal"></span>
                                <select asp-for="Domicilio.estado" onchange="mostrarMunicipios(this)" id="domicilioEstado" class="form-control" required>
                                    <option value="">Seleccione opción</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.nombreasentamiento" class="control-label">Nombre Asentamiento<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.nombreasentamiento" class="text-danger ErrorInput Modal"></span>
                                <input asp-for="Domicilio.nombreasentamiento" id="domicilioNombreAsentamiento" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label asp-for="Domicilio.Tipo_VialidadID" class="control-label">Tipo Vialidad<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.Tipo_VialidadID" class="text-danger ErrorInput Modal"></span>
                                <select asp-for="Domicilio.Tipo_VialidadID" id="domicilioTipoVialidad" class="form-control" asp-items="ViewBag.Tipo_VialidadID" required>
                                    <option value="">Seleccione opción</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.nointerior" class="control-label">No. Interior</label>
                                <input asp-for="Domicilio.nointerior" id="domicilioNombreInterior" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.Municipio" class="control-label">Municipio<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.Municipio" class="text-danger ErrorInput Modal"></span>
                                <select asp-for="Domicilio.Municipio" onchange="mostrarLocalidades(this)" id="domicilioMunicipioID" class="form-control">
                                    <option value="" name="" selected>Seleccione opción</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.referenciavialidad" class="control-label">Referencia de Vialidad</label>
                                <input asp-for="Domicilio.referenciavialidad" id="domicilioReferenciaVialidad" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-3 mt-2">

                            <div class="form-group">
                                <label asp-for="Domicilio.nombrevialidad" class="control-label">Nombre Vialidad<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.nombrevialidad" class="text-danger ErrorInput Modal"></span>
                                <input asp-for="Domicilio.nombrevialidad" id="domicilioNombreVialidad" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label asp-for="Domicilio.localidad" class="control-label">Localidad<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.localidad" class="text-danger ErrorInput Modal"></span>
                                <select asp-for="Domicilio.localidad" id="domicilioLocalidad" class="form-control" >
                                    <option value="" selected>Seleccione opción</option>
                                </select>                                
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.referenciaposterior" class="control-label">Referencia posterior:</label>
                                <input asp-for="Domicilio.referenciaposterior" id="domicilioReferenciaPosterior" class="form-control" />
                            </div>
                            <div class="form-group" style="display: none;">
                                <label asp-for="Domicilio.PersonaID" class="control-label"></label>
                                <span asp-validation-for="Domicilio.PersonaID" class="text-danger ErrorInput Modal"></span>
                                <input asp-for="Domicilio.PersonaID" id="domicilioPersonaID" class="form-control" required disabled />
                            </div>
                        </div>

                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label asp-for="Domicilio.codigopostal" class="control-label">Codigo Postal<span: class="text-danger font-weight-bold">*</span:></label>
                                <span asp-validation-for="Domicilio.codigopostal" class="text-danger ErrorInput Modal"></span>
                                <input asp-for="Domicilio.codigopostal" id="domicilioCodigoPostal" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.Tipo_AsentamientoID" class="control-label">Tipo Asentamiento<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.Tipo_AsentamientoID" class="text-danger ErrorInput Modal"></span>
                                <select asp-for="Domicilio.Tipo_AsentamientoID" id="domicilioTipoAsentamiento" class="form-control" asp-items="ViewBag.Tipo_AsentamientoID" required>
                                    <option value="" selected>Seleccione opción</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Domicilio.referenciaubicacion" class="control-label">Referencia de Ubicación<span class="text-danger font-weight-bold">*</span>:</label>
                                <span asp-validation-for="Domicilio.referenciaubicacion" class="text-danger ErrorInput Modal"></span>
                                <input asp-for="Domicilio.referenciaubicacion" id="domicilioReferenciaUbicacion" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-danger" id="btnCancelarDom" data-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button class="btn btn-primary" id="btnModalDomicilio">Editar Domicilio</button>
                </div>
            </div>
        </form>
    </div>
</div>