@model GranModelo

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Persona.PersonaID" id="personaGeneralID" />
<div class="row">
    <div class="col-md-3 mt-2">
        <div class="form-group">
            <label asp-for="Persona.correo" class="control-label">Correo electrónico:</label><span asp-validation-for="Persona.correo" class="text-danger ErrorInput"></span>
            <input asp-for="Persona.correo" type="email" class="form-control" placeholder="correo@electrónico.com" />
        </div>
        <div class="form-group">
            <label asp-for="Persona.GeneroID" class="control-label">Género<span class="text-danger font-weight-bold">*</span>:</label>
            <select asp-for="Persona.GeneroID" class="form-control" asp-items='ViewBag.GeneroID'>
                <option value="" selected>Seleccione opción</option>
            </select>
        </div>
        <label asp-for="Persona.EtniaID" class="control-label">Pertenece a una étnia:</label>
        <div asp-for="Tipo_PersonaID">
            @Html.RadioButton("Persona.EtniaID", 2, false) <label class="control-label mx-2">Si</label>
            @Html.RadioButton("Persona.EtniaID", 1, true) <label class="control-label mx-2">No</label>
        </div>
    </div>

    <div class="col-md-3 mt-2">
        <div class="form-group">
            <label asp-for="Persona.fechaNacimiento" class="control-label">Fecha de nacimiento<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.fechaNacimiento" class="text-danger ErrorInput"></span>
            <input asp-for="Persona.fechaNacimiento" type="date" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="Persona.Estado_CivilID" class="control-label">Estado civil<span class="text-danger font-weight-bold">*</span>:</label>
            <select asp-for="Persona.Estado_CivilID" class="form-control" asp-items="ViewBag.Estado_CivilID">
                <option value="" selected>Seleccione opción</option>
            </select>

            <!--@Html.RadioButton("Persona.Estado_CivilID", 2)-->
        </div>
        <label asp-for="Persona.DiscapacidadID" class="control-label">Discapacidad:</label>
        <div asp-for="Tipo_PersonaID">
            @Html.RadioButton("Persona.DiscapacidadID", 2, false) <label class="control-label mx-2">Si</label>
            @Html.RadioButton("Persona.DiscapacidadID", 1, true) <label class="control-label mx-2">No</label>
        </div>
    </div>


    <div class="col-md-3 mt-2">
        <div class="form-group">
            <label asp-for="Persona.nacionalidad" class="control-label">Nacionalidad<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.nacionalidad" class="text-danger ErrorInput"></span>
            <input asp-for="Persona.nacionalidad" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Persona.Tipo_IdentidadID" class="control-label">Tipo de identificación<span class="text-danger font-weight-bold">*</span>:</label>
            <select asp-for="Persona.Tipo_IdentidadID" class="form-control" asp-items="ViewBag.Tipo_IdentidadID">
                <option value="" selected>Seleccione opción</option>
            </select>
        </div>
    </div>

    <div class="col-md-3 mt-2">
        <div class="form-group">
            <label asp-for="Persona.telefono" class="control-label">Teléfono:</label><span asp-validation-for="Persona.telefono" class="text-danger ErrorInput"></span>
            <input asp-for="Persona.telefono" type="number" min=0 class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Persona.num_identificacion" class="control-label">Núm. Doc de identificación:</label><span asp-validation-for="Persona.num_identificacion" class="text-danger ErrorInput"></span>
            <input asp-for="Persona.num_identificacion" type="text" class="form-control" placeholder="num_identificacion" required />
        </div>
    </div>
</div>
<div class="form-group mt-3 d-flex" id="botonesGeneral">
    <div class="mx-auto">
        <a asp-action="Index">Regresar</a>
        <input type="submit" value="Guardar" class="btn btn-success ml-5" />
    </div>
</div>