@model GranModelo

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Persona.Tipo_PersonaID" class="control-label">Tipo de Persona<span class="text-danger font-weight-bold">*</span>:</label>
                        <div asp-for="Persona.Tipo_PersonaID">
                            @Html.RadioButton("Persona.Tipo_PersonaID", 1, true, new { id = "personaFisica" }) <label class="control-label mx-2">Física</label>
                            @Html.RadioButton("Persona.Tipo_PersonaID", 2, new { id = "personaMoral" }) <label class="control-label mx-2">Moral</label>
                        </div>
                    </div>
                    <div class="col-md-4" id="divCURP">
                        <div class="form-group">
                            <label asp-for="Persona.CURP" class="control-label">CURP<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.CURP" class="text-danger Persona ErrorInput"></span>
                            <input asp-for="Persona.CURP" type="text" onkeyup="mayus(this)" class="form-control" placeholder="CURP" maxlength="18" required id="curpPersona" />
                        </div>
                    </div>
                    <div class="col-md-1" id="imagenSearch">
                        <div class="d-flex">                            
                            <input type="image" class="rounded btn btn-block imageback tamanoIMG" src="~/icon/search-solid.svg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label id="labelRFC" asp-for="Persona.RFC" class="control-label">RFC:</label><span id="spanRFC" asp-validation-for="Persona.RFC" class="text-danger Persona ErrorInput"></span>
                            <input id="rfcPersona" asp-for="Persona.RFC" onkeyup="mayus(this)" type="text" maxlength="13" class="form-control" placeholder="RFC" />
                        </div>
                    </div>
                    <div class="col-md-1" id="imagenSearchRFC" style="display: none;">
                        <div class="d-flex">
                            <input type="image" class="rounded btn btn-block imageback tamanoIMG" src="~/icon/search-solid.svg" />
                        </div>
                    </div>
                </div>

                <div class="row" id="columnaDos">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Persona.nombre" class="control-label">Nombre<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.nombre" class="text-danger Persona ErrorInput"></span>
                            <input id="nombreGeneral" asp-for="Persona.nombre" onkeyup="mayus(this)" type="text" class="form-control" placeholder="Nombre" required />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Persona.apellido_paterno" class="control-label">Apellido Paterno<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.apellido_paterno" class="text-danger Persona ErrorInput"></span>
                            <input id="apellidoPaterno" asp-for="Persona.apellido_paterno" onkeyup="mayus(this)" type="text" class="form-control" placeholder="Apellido Paterno" required />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Persona.apellido_materno" class="control-label">Apellido Materno:</label><span asp-validation-for="Persona.apellido_materno" class="text-danger Persona ErrorInput"></span>
                            <input id="apellidoMaterno" asp-for="Persona.apellido_materno" onkeyup="mayus(this)" type="text" class="form-control" placeholder="Apellido Materno" />
                        </div>
                    </div>
                </div>
                <div class="form-group" id="nombreMoral" style="display: none;">
                    <label asp-for="Persona.nombreMoral" class="control-label">Nombre<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.nombreMoral" class="text-danger Persona ErrorInput"></span>
                    <input asp-for="Persona.nombreMoral" onkeyup="mayus(this)" type="text" class="form-control" id="nombreMoralPersonas" placeholder="Nombre/s" required />
                </div>
            </div>
            <div class="col-md-3" id="curpHistoricas">
                <div class="form-group">
                    <button type="button" id="CURP_Historicas" class="btn btn-block imageback font-weight-bold">CURP históricas</button>
                    <table class="table table-hover table-sm table-responsive" style="display: none;" id="tableCurpHist">
                        <tbody>
                            <tr>
                                <th>PRUEBA 1</th>
                            </tr>
                            <tr>
                                <th>PRUEBA 2</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Persona.ACUSESURI" class="control-label">ACUSE SURI</label>
                    <input asp-for="Persona.ACUSESURI" id="acuseSuri" type="text" class="form-control" placeholder="ACUSE SURI" value="ACUSE SURI" disabled />
                </div>
            </div>
        </div>
    </div>