@model GranModelo
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<hr />

<form asp-action="Edit">
    <section>
        @await Html.PartialAsync("_vistaSuperior")
    </section>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-domicilio" role="tab" aria-controls="nav-profile" aria-selected="false">Domicilios</a>
            <a class="nav-item nav-link" id="nav-cuenta-tab" data-toggle="tab" href="#nav-cuenta" role="tab" aria-controls="nav-contact" aria-selected="false">Cuentas</a>
            <a class="nav-item nav-link" id="nav-obligacion-tab" data-toggle="tab" href="#nav-obligacion" role="tab" aria-controls="nav-contact" aria-selected="false">Obligaciones</a>
            <a class="nav-item nav-link" id="nav-representantes-tab" data-toggle="tab" href="#nav-representantes" style="display: none;" role="tab" aria-controls="nav-representantes" aria-selected="false">Representantes</a>
            <a class="nav-item nav-link" id="nav-integrantes-tab" data-toggle="tab" href="#nav-integrantes" style="display: none;" role="tab" aria-controls="nav-contact" aria-selected="false">Integrantes</a>
            <a class="nav-item nav-link" id="nav-bajas-tab" data-toggle="tab" href="#nav-bajas" role="tab" aria-controls="nav-contact" aria-selected="false">Bajas</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show container active border border-secondary rounded" id="nav-general" role="tabpanel" aria-labelledby="nav-home-tab">
            @await Html.PartialAsync("_vistaInferiorGeneral")
        </div>
    </div>
</form>

<!--MODAL TELEFONO-->
@await Html.PartialAsync("_modalTelefono")

<!--TABLA TELEFONOS-->
@await Html.PartialAsync("_tablaTelefono")

<div class="tab-pane fade border border-secondary rounded" id="nav-domicilio" role="tabpanel" aria-labelledby="nav-profile-tab" style="display:none;">
    <!--MODAL DE DOMICILIO-->
    @await Html.PartialAsync("_modalDomicilio")

    <div class="container my-3">
        <div class="border border-secondary rounded bg-dark d-flex">
            <h4 class="my-3 mx-3 text-white font-weight-lighter">Domicilios</h4>
            <!--Modal 2-->
            <a class="btn btn-light btn-rounded mr-3 my-3 ml-auto" id="btnAgregarDom" data-toggle="modal" onclick="limpiarForm()" data-target="#modalRegisterForm">Agregar</a>
        </div>

        <!--TABLA DOMICILIO-->
        @await Html.PartialAsync("_tablaDomicilio")
    </div>
</div>

<div class="tab-pane fade" id="nav-cuenta" role="tabpanel" aria-labelledby="nav-contact-tab" style="display:none;">3</div>
<div class="tab-pane fade" id="nav-obligacion" role="tabpanel" aria-labelledby="nav-contact-tab" style="display:none;">4</div>

<div class="tab-pane fade border border-secondary rounded" id="nav-representantes" role="tabpanel" aria-labelledby="nav-representantes-tab" style="display:none;">
    <div class="container my-3">
        <div class="rounded">
            <div class="form-inline d-flex bg-dark rounded">
                <h4 class="my-3 mx-3 text-white font-weight-lighter">Representante</h4>
                <button type="button" class="btn btn-light btn-rounded mr-3 my-3 ml-auto" id="representanteTop" data-toggle="modal" data-target="#modalRepresentantes">Agregar</button>
            </div>

            <!-- MODAL REPRESENTANTES -->
            @await Html.PartialAsync("_modalRepresentantes")

            <!--MODAL DOCUMENTOS DE REPRESENTANTES-->
            @await Html.PartialAsync("_modalDocumentoRepresentante")

            <!--TABLA REPRESENTANTES-->
            @await Html.PartialAsync("_tablaRepresentantes")
        </div>
    </div>
</div>


<div class="tab-pane fade border border-secondary rounded" id="nav-integrantes" role="tabpanel" aria-labelledby="nav-contact-tab" style="display:none;">
    <div class="container my-3">
        <div class="rounded">
            <div class="form-inline d-flex bg-dark rounded">
                <h4 class="my-3 mx-3 text-white font-weight-lighter">Integrantes</h4>
                <button type="button" class="btn btn-light btn-rounded mr-3 my-3 ml-auto" id="integrantesTop" data-toggle="modal" data-target="#modalIntegrantes">Agregar</button>
            </div>

            <!-- Extra large modal -->
            @await Html.PartialAsync("_modalIntegrantes")

            <!--TABLA INTEGRANTES-->
            @await Html.PartialAsync("_tablaIntegrantes")
        </div>
    </div>
</div>

<div class="tab-pane fade border border-secondary rounded" id="nav-bajas" role="tabpanel" aria-labelledby="nav-contact-tab" style="display:none;">
    <div class="container my-3">
        <div class="border border-secondary rounded bg-dark">
            <h4 class="my-3 mx-3 text-white font-weight-lighter">Baja por Defunción</h4>
        </div>

        <div class="rounded border border-secondary">
            <div class="container">
                <table class="table table-sm table-secondary my-3 rounded">
                    <thead class="thead-light text-center">
                        <tr>
                            <th>Fecha de Baja</th>
                            <th>Tipo documento de baja</th>
                            <th>Folio documento</th>
                            <th>Observaciones</th>
                        </tr>

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
