@model SistemaAFT.Models.Telefono

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Telefono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TelefonoID" />
            <div class="form-group">
                <label asp-for="numero" class="control-label"></label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompaniaID" class="control-label"></label>
                <select asp-for="CompaniaID" class="form-control" asp-items="ViewBag.CompaniaID"></select>
                <span asp-validation-for="CompaniaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_TelefonoID" class="control-label"></label>
                <select asp-for="Tipo_TelefonoID" class="form-control" asp-items="ViewBag.Tipo_TelefonoID"></select>
                <span asp-validation-for="Tipo_TelefonoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaID" class="control-label"></label>
                <select asp-for="PersonaID" class="form-control" asp-items="ViewBag.PersonaID"></select>
                <span asp-validation-for="PersonaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

