@model GranModelo

@{
    ViewData["Title"] = "Index";
}

<!--<label class="font-italic font-weight-bold derecho"><span class="text-danger font-weight-bold">*</span> Dato Requerido</label>-->
<hr />



    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-home" aria-selected="true">Solicitante</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-domicilio" role="tab" aria-controls="nav-profile" aria-selected="false">Representante</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-cuenta" role="tab" aria-controls="nav-contact" aria-selected="false">Datos Complementarios</a>
            <a class="nav-item nav-link" id="nav-obligacion-tab" data-toggle="tab" href="#nav-obligacion" role="tab" aria-controls="nav-contact" aria-selected="false">Datos SocioEconomicos</a>
            <a class="nav-item nav-link" id="nav-representantes-tab" data-toggle="tab" href="#nav-representantes" style="display: none;" role="tab" aria-controls="nav-contact" aria-selected="false">Representantes</a>
            <a class="nav-item nav-link" id="nav-integrantes-tab" data-toggle="tab" href="#nav-integrantes" style="display: none;" role="tab" aria-controls="nav-contact" aria-selected="false">Integrantes</a>            
        </div>
    </nav>
    


    <div class="border border-secondary rounded container my-3 mr-0" id="solicitante_personal">
        <h3 class="text-dark mt-2">Datos del Solicitante</h3>
        <div class="border border-secondary rounded bg-dark">

            <div class="form-inline d-flex">
                <h6 class="my-3 mx-3 text-white font-weight-lighter">Busqueda</h6>
                <!--Modal 2-->

            </div>

        </div>
        <form asp-action="Create">
            <div class="rounded border border-secondary">
                <div class="container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 mt-2">

                            <div class="form-group">
                                <label asp-for="Persona.GeneroID" class="control-label">Tipo de Persona<span class="text-danger font-weight-bold">*</span>:</label>
                                <select asp-for="Persona.GeneroID" class="form-control" asp-items='ViewBag.GeneroID'>
                                    <option value="" selected>Seleccione opción</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Persona.CURP" class="control-label">CURP<span class="text-danger font-weight-bold">*</span>:</label><span id="spanCURP" asp-validation-for="Persona.CURP" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.CURP" type="text" class="form-control" placeholder="CURP" required id="CURP" oninput="errorCurp(this);" oninvalid="errorCurp(this);" />
                            </div>

                        </div>

                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="Persona.fechaNacimiento" class="control-label">Folio de Grupo<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.fechaNacimiento" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.fechaNacimiento" type="date" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label id="labelRFC" asp-for="Persona.RFC" class="control-label">RFC:</label><span id="spanRFC" asp-validation-for="Persona.RFC" class="text-danger ErrorInput"></span>
                                <input id="rfcPersona" asp-for="Persona.RFC" type="text" class="form-control" placeholder="RFC" />
                            </div>
                        </div>


                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="Persona.NacionalidadID" class="control-label">Folio del Productor<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.NacionalidadID" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.NacionalidadID" type="text" class="form-control" />
                            </div>
                            <div class="form-group text-center ">
                                <button class="btn btn-dark mt-4">Buscar</button>
                                <button class="btn btn-dark mt-4">Limpiar</button>

                            </div>
                        </div>

                        <div class="col-md-4 mt-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3 mx-auto" id="botonFormUno">
                <a asp-action="Index">Regresar a la lista</a>
                <input type="submit" value="Guardar Datos Solicitudes" class="btn btn-success" />
            </div>
        </form>

        <div class="border border-secondary rounded bg-dark">
            <div class="form-inline d-flex">
                <h6 class="my-3 mx-3 text-white font-weight-lighter">Información Personal</h6>
                <!--Modal 2-->
            </div>
        </div>
        <form asp-action="Create">
            <div class="rounded border border-secondary">
                <div class="container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 mt-2">

                            <div class="form-group">
                                <label asp-for="Persona.CURP" class="control-label">Denominación o Razon Social<span class="text-danger font-weight-bold">*</span>:</label><span id="spanCURP" asp-validation-for="Persona.CURP" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.CURP" type="text" class="form-control" placeholder="CURP" required id="CURP" oninput="errorCurp(this);" oninvalid="errorCurp(this);" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Persona.CURP" class="control-label">Documento de Acreditación<span class="text-danger font-weight-bold">*</span>:</label><span id="spanCURP" asp-validation-for="Persona.CURP" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.CURP" type="text" class="form-control" placeholder="CURP" required id="CURP" oninput="errorCurp(this);" oninvalid="errorCurp(this);" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Persona.GeneroID" class="control-label">Etnia a la que Pertence<span class="text-danger font-weight-bold">*</span>:</label>
                                <select asp-for="Persona.GeneroID" class="form-control" asp-items='ViewBag.GeneroID'>
                                    <option value="" selected>Seleccione opción</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-md-4 mt-2">
                            <div class="form-group punteado">
                                <label asp-for="Persona.fechaNacimiento" class="control-label">Fecha de Constitución<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.fechaNacimiento" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.fechaNacimiento" type="date" class="form-control " required />
                            </div>

                            <div class="form-group">
                                <label id="labelRFC" asp-for="Persona.RFC" class="control-label">Especificar:</label><span id="spanRFC" asp-validation-for="Persona.RFC" class="text-danger ErrorInput"></span>
                                <input id="rfcPersona" asp-for="Persona.RFC" type="text" class="form-control" placeholder="RFC" />
                            </div>
                        </div>


                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="Persona.Nacionalidad" class="control-label">Actividad Economica<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.Nacionalidad" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.Nacionalidad" type="text" class="form-control" />
                            </div>

                        </div>

                        <div class="col-md-4 mt-2">

                        </div>
                    </div>

                    <!--TABLA DE TELEFONOS-->

                    <table class="table table-sm table-secondary my-3 rounded">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Tipo Telefono</th>
                                <th>Compania</th>
                                <th>Numero Telefono</th>
                                <th>Contactar</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <tr class="table-light border border-secondary text-center">
                                <td>No hay telefono</td>
                                <td class="table-light"></td>
                                <td class="table-light"></td>
                                <td class="table-light"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--FIN TABLA TELEFONOS-->

                    <div class="row">
                        <div class="col-md-4 mt-2">

                            <div class="form-group">
                                <label asp-for="Persona.Tipo_PersonaID" class="control-label">¿Desea que se le notifique via mensaje el estatus de su solicitud?<span class="text-danger font-weight-bold">*</span>:</label>
                                <div asp-for="Persona.Tipo_PersonaID">
                                    @Html.RadioButton("Persona.Tipo_PersonaID", 1, true, new { id = "personaFisica" }) <label class="control-label mx-2">Sí</label>
                                    @Html.RadioButton("Persona.Tipo_PersonaID", 2, new { id = "personaMoral" }) <label class="control-label mx-2">No</label>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="Persona.correo" class="control-label">Correo electrónico:</label><span asp-validation-for="Persona.correo" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.correo" type="email" class="form-control" placeholder="correo@electrónico.com" />
                            </div>


                        </div>


                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="Persona.NacionalidadID" class="control-label">Actividad Principal<span class="text-danger font-weight-bold">*</span>:</label><span asp-validation-for="Persona.NacionalidadID" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.NacionalidadID" type="text" class="form-control" />
                            </div>

                        </div>

                        <div class="col-md-4 mt-2">

                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group mt-3 mx-auto" id="botonFormUno">
                <a asp-action="Index">Regresar a la lista</a>
                <input type="submit" value="Guardar Info Personal" class="btn btn-success" />
            </div>
        </form><!--FIN DE TELEFONOS-->


    <!--INFORMACION DOMICILIOS-->
        <div class="border border-secondary rounded bg-dark">

            <div class="form-inline d-flex">
                <h6 class="my-3 mx-3 text-white font-weight-lighter">Domicilios</h6>
                <!--Modal 2-->
            </div>

        </div>
        <form asp-action="Create">
            <div class="rounded border border-secondary">
                <div class="container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label asp-for="Persona.CURP" class="control-label">Buscar<span class="text-danger font-weight-bold">*</span>:</label><span id="spanCURP" asp-validation-for="Persona.CURP" class="text-danger ErrorInput"></span>
                                <input asp-for="Persona.CURP" type="text" class="form-control" placeholder="CURP" required id="CURP" oninput="errorCurp(this);" oninvalid="errorCurp(this);" />
                            </div>
                        </div>
                    </div>
                    <table class="table table-sm table-secondary my-3 rounded">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Vialidad</th>
                                <th>Codigo Postal</th>
                                <th>Estado</th>
                                <th>Municipio</th>
                                <th>Localidad</th>
                                <th>Asentamiento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <tr class="table-light border border-secondary text-center">
                                <td>Tercer Anillo</td>
                                <td>28888</td>
                                <td>Colima</td>
                                <td>Villa de Alvarez</td>
                                <td>Villa de Alvarez</td>
                                <td>LB</td>
                                <td>Ver Editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group mt-3 mx-auto" id="botonFormUno">
                <a asp-action="Index">Regresar a la lista</a>
                <input type="submit" value="Guardar Datos Domicilios" class="btn btn-success" />
            </div>
        </form>
     <!--FIN DE DOMICILIOS SOLICITUDES-->

        <div class="float-right mt-4" id="botonFormUno">
            <a class="btn btn-info" asp-action="Index">Regresar</a>
            <input type="submit" value="Limpiar Pantalla" class="btn btn-success" />
            <input type="submit" value="Siguiente" class="btn btn-dark text-white" />

        </div>
    </div>
<!--FIN DE DATOS SOLICITANTE-->
    

<!--INFORMACION PERSONAL SEGUNDA PESTAÑA-->
    <div class="tab-pane fade border border-secondary rounded" id="nav-domicilio" role="tabpanel" aria-labelledby="nav-profile-tab" style="display: none;">
        <div class="container my-3">

            <div class="border border-secondary rounded bg-dark">
                <div class="form-inline d-flex">
                    <h6 class="my-3 mx-3 text-white font-weight-lighter">Información Personal</h6>
                </div>
            </div>
            <form asp-action="Create" asp-controller="Domicilios">
                <div class="rounded border border-secondary">
                    <div class="container">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4 mt-2">
                                <div class="form-group">
                                    <label asp-for="Persona.CURP" class="control-label">Buscar<span class="text-danger font-weight-bold">*</span>:</label><span id="spanCURP" asp-validation-for="Persona.CURP" class="text-danger ErrorInput"></span>
                                    <input asp-for="Persona.CURP" type="text" class="form-control" placeholder="CURP" required id="CURP" oninput="errorCurp(this);" oninvalid="errorCurp(this);" />
                                </div>
                            </div>
                        </div>
                        <table class="table table-sm table-secondary my-3 rounded">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th>°</th>
                                    <th>Nombre</th>
                                    <th>Ap. Paterno</th>
                                    <th>Ap. Materno</th>
                                    <th>CURP</th>
                                    <th>Sexo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-light">
                                <tr class="table-light border border-secondary text-center">
                                    <td>
                                        @Html.RadioButton("Persona.Tipo_PersonaID", 1, true, new { id = "personaFisica" }) <label class="control-label mx-2">Sí</label>
                                    </td>
                                    <td>Diego</td>
                                    <td>Cortez</td>
                                    <td>Zamano</td>
                                    <td>COZD971120HCMRMG00</td>
                                    <td>Masculino</td>
                                    <td>Ver</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group mt-3 mx-auto" id="botonFormUno">
                    <a asp-action="Index">Regresar a la lista</a>
                    <input type="submit" value="Guardar Datos Domicilios" class="btn btn-success" />
                </div>
            </form>

        </div>
        <div class="float-right mt-4" id="botonFormUno">
            <a class="btn btn-info" asp-action="Index">Regresar</a>
            <input type="submit" value="Limpiar Pantalla" class="btn btn-success" />
            <input type="submit" value="Siguiente" class="btn btn-dark text-white" />

        </div>
    </div>
<!--FIN DE INFORMACION PERSONAL SEGUNDA PESTAÑA-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


